h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 46px;
}

p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;

}

span {
  text-decoration: underline;
}